<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="isNew">Add</span>
      <span *ngIf="!isNew">Update</span> Account
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="investorForm" (ngSubmit)="addInvestor()">
    <ion-list>

      <ion-item>
        <ion-label stacked color="primary">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="investorForm.get('name').hasError(validation.type) && (investorForm.get('name').dirty || investorForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea rows="4" formControlName="description"></ion-textarea>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button color="primary" block [disabled]="!investorForm.valid">
        <span *ngIf="isNew">Add</span>
        <span *ngIf="!isNew">Update</span>
      </button>
    </div>
  </form>

</ion-content>