<ion-header>
  <ion-toolbar>
    <ion-title>
      Backup Restore
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let backup of backups" (click)="restoreBackup(backup)">
      <h3>{{ backup.name }}</h3>
      <button item-end ion-button icon-only clear (click)="removeBackup($event, backup)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>

  </ion-list>
</ion-content>