<ion-header>
  <ion-toolbar>
    <ion-title>
      Sell Asset
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="operationForm" (ngSubmit)="sell()">
    <ion-list>

      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>
      <div class="max-available item-md">
        Max: {{ currency.spendAssets | coinConverter | number:'1.0-9' }}
      </div>
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.amount">
          <div class="error-message" *ngIf="operationForm.get('amount').hasError(validation.type) && (operationForm.get('amount').dirty || operationForm.get('amount').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Total</ion-label>
        <ion-input type="number" formControlName="total"></ion-input>
      </ion-item>      
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.total">
          <div class="error-message" *ngIf="operationForm.get('total').hasError(validation.type) && (operationForm.get('total').dirty || operationForm.get('total').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
      </ion-item>
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.date">
          <div class="error-message" *ngIf="operationForm.get('date').hasError(validation.type) && (operationForm.get('date').dirty || operationForm.get('date').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

    </ion-list>

    <div padding>
      <button ion-button type="submit" color="primary" block [disabled]="!operationForm.valid">
        Sell
      </button>
    </div>
  </form>


</ion-content>