<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Accounts</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="openInvestorModal()">
        Add account
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Overview
    </ion-card-header>
    <ion-card-content>
      <div style="display: block;" *ngIf="loadChart">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          chartType="pie" 
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <ion-list>
          <ion-item>
            Free Deposit
            <ion-badge item-end>{{availableDepo | priceConverter | currency:'USD'}}</ion-badge>
          </ion-item>   
        </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let investor of investors" (click)="openDeposits(investor)">
      <ion-avatar item-start>
        <img src="assets/imgs/empty_avatar.png">
      </ion-avatar>
      <h1>{{ investor.fullName }}</h1>
      <p>{{ totalBalance / totalShares * investor.shares | priceConverter | currency: 'USD' }}</p>
      <p>Shares: {{ investor.shares | sharesConverter }}</p>
      <ion-icon style="color:red;" *ngIf="investors.length > 1 && !(investor.isMain && investor.deposit > 0)" item-end ios="ios-trash" md="md-trash"
        (click)="removeInvestor($event, investor)"></ion-icon>
    </button>
  </ion-list>
</ion-content>