<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="isNew">Add</span><span *ngIf="!isNew">Update</span> Currency
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getCurrencies($event)"></ion-searchbar>
  <ion-list [virtualScroll]="currencies" approxItemHeight="70px">
      <button ion-item *virtualItem="let currency" (click)="addCurrency(currency)">          
          <h2>{{ currency.name }}</h2>
          <h3>{{ currency.symbol }}</h3>
      </button>
    </ion-list>

</ion-content>