<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Portfolio</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showSettingsPopover($event)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="portfolio">
    <ion-card-content text-center>
      <div style="display: block;" *ngIf="loadChart">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          chartType="pie" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>

      <h2 style="color:blue;">{{ currentPortfolioCost | priceConverter | currency:'USD'}}</h2>
      <h1 [ngClass]="{'negative':((currentPortfolioCost - spendTotal) < 0), 'positive': ((currentPortfolioCost - spendTotal) > 0)}">
        (
        <span *ngIf="(currentPortfolioCost - spendTotal) < 0;else positiveTotal">
          <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
        </span>
        <ng-template #positiveTotal>
          <span>
            <ion-icon ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
          </span>
        </ng-template>
        {{currentPortfolioCost - spendTotal | priceConverter | number:'1.2-2'}} )
      </h1>
    </ion-card-content>
  </ion-card>
  <ion-list no-border class="portfolio">
    <button ion-item *ngFor="let currency of currencies; let i = index" (click)="controlAssets({assetIdx: i})">
      {{ currency.symbol }}
      <span item-end style="width: 200px;">
        <span style="color:blue;">{{ currency.spendAssets / coinNorm * currency.currentPrice | priceConverter | currency:'USD' }}</span>
        <span *ngIf="currency.spendAssets > 0">
          <h3 style="white-space:nowrap;" [ngClass]="{'negative':((currency.spendAssets / coinNorm * currency.currentPrice - currency.spendTotal) < 0), 'positive': ((currency.spendAssets / coinNorm * currency.currentPrice - currency.spendTotal) > 0)}">
            <span *ngIf="(currency.spendAssets / coinNorm * currency.currentPrice - currency.spendTotal) < 0;else positive">
              <ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>
            </span>
            <ng-template #positive>
              <span>
                <ion-icon ios="ios-arrow-up" md="md-arrow-up"></ion-icon>
              </span>
            </ng-template>
            {{currency.spendAssets / coinNorm * currency.currentPrice - currency.spendTotal | priceConverter | number:'1.2-2'}}
          </h3>
        </span>
      </span>
      <span item-end style="width: 120px;">
        <p style="color:green;">
          <ion-icon style="width:15px;" ios="ios-pulse" md="md-pulse"></ion-icon> {{ currency.currentPrice | priceConverter | currency:'USD' }}
        </p>
        <p style="color:blueviolet;">
          <ion-icon style="width:15px;" ios="ios-basket" md="md-basket"></ion-icon> {{ currency.spendAssets | coinConverter | number:'1.0-9' }}
        </p>
        <p style="color:darkcyan;">
          <ion-icon style="width:15px;" ios="ios-pie" md="md-pie"></ion-icon>&nbsp;
          <span *ngIf="currentPortfolioCost > 0 && currency.currentPrice > 0">
            {{ currency.spendAssets / coinNorm * currency.currentPrice * 100 / currentPortfolioCost / 100 | percent:'1.2-4' }}
          </span>
          <span *ngIf="currentPortfolioCost == 0 || currency.currentPrice == 0">
            0.00%
          </span>
        </p>
      </span>
    </button>
  </ion-list>
</ion-content>