<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Deposit operations</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="openWithdrawModal()">
        Withdraw
      </button>

      <button ion-button icon-only (click)="openDepositModal()">
        Deposit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card padding style="position:relative;">
    <ion-card-header>
      {{investor.fullName}}
    </ion-card-header>

    <ion-card-content>
      <ion-fab style="position:absolute;right:5px;top:10px;">
        <button ion-fab large clear color="secondary" (click)="openInvestorModal()">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-fab>

      <p style="white-space: pre;">{{investor.description}}</p>

      <hr />
      <p>Current value: {{ totalBalance / totalShares * investor.shares | priceConverter | currency: 'USD' }}</p>
      <p *ngIf="(investor.deposit - investor.withdraw) > 0">Deposit: {{ investor.deposit - investor.withdraw | priceConverter
        | currency: 'USD' }}</p>
      <p *ngIf="(investor.deposit - investor.withdraw) <= 0">Deposit: {{ 0 | priceConverter | currency: 'USD' }}</p>
      <p>Shares: {{ investor.shares | sharesConverter }}</p>
    </ion-card-content>

  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let deposit of deposits;">
      <ion-icon *ngIf="deposit.type == 'deposit'" item-start style="color: green;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
      <ion-icon *ngIf="deposit.type == 'withdraw'" item-start style="color: red;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      <h3>{{ deposit.deposit | priceConverter | currency: 'USD' }}</h3>
      <p>{{ deposit.date | date: 'MMM-dd-yyyy' }}</p>

      <span item-end style="width: 150px;">
        <p>Shares: {{ deposit.shares | sharesConverter }}</p>
      </span>
      <button *ngIf="investor.shares >= deposit.shares" item-end ion-button icon-only clear (click)="removeDeposit($event, deposit)"
        color="danger">
        <ion-icon name="trash"></ion-icon>
      </button>
    </button>
  </ion-list>
</ion-content>