// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
	
.validation-errors
{
    font-size: 1.2rem;
    .error-message
    {
        color: red;
    }
}

ion-card { 
    ion-card-header.card-header {
        color: #488aff;
    }
}

.max-available
{
    font-size: 1.2rem;
}

.image-centered {
    display: block;
    margin: 0 auto;
}

.portfolio {
    h1, h2, h3 {
        display: inline;
    }
    
    .negative {
        color: red;
    }
    
    .positive {
        color: green;
    }
}
