<ion-content>
  <!--ion-list>
    <button ion-item (click)="settings()">Settings</button>
  </ion-list>
  <hr /-->
  <ion-list>
    <button ion-item (click)="restore()">Restore</button>
    <button ion-item (click)="backup()">Backup</button>
  </ion-list>
  <hr />
  <ion-list>
    <button ion-item (click)="clearData($event)">Clear all data</button>
  </ion-list>
</ion-content>