<ion-header>
  <ion-toolbar>
    <ion-title>
      Withdraw
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
    <ion-list>

      <ion-item>
        <ion-label floating>Withdraw amount</ion-label>
        <ion-input type="number" formControlName="deposit"></ion-input>
      </ion-item>
      <div class="max-available item-md">
        Max: {{ availableDepo | priceConverter | currency: 'USD' }}
      </div>
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.deposit">
          <div class="error-message" *ngIf="withdrawForm.get('deposit').hasError(validation.type) && (withdrawForm.get('deposit').dirty || withdrawForm.get('deposit').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD YYYY" formControlName="date"></ion-datetime>
      </ion-item>
      <div class="validation-errors item-md">
        <ng-container *ngFor="let validation of validation_messages.date">
          <div class="error-message" *ngIf="withdrawForm.get('date').hasError(validation.type) && (withdrawForm.get('date').dirty || withdrawForm.get('date').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating>Comment</ion-label>
        <ion-textarea formControlName="comment"></ion-textarea>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button color="primary" block [disabled]="!withdrawForm.valid">Withdraw</button>
    </div>
  </form>

</ion-content>