<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Currencies</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let currency of currencies;">
      <h3>{{ currency.name }}</h3>
      <p>{{ currency.symbol }}</p>
      <ion-icon *ngIf="currency.spendAssets == 0" style="color:red;" item-end ios="ios-trash" md="md-trash" (click)="removeAsset($event, currency)"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>