<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ currency.name }} Operations</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="sellOperation()">
        Sell
      </button>
      <button ion-button icon-only (click)="addOperation()">
        Buy
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Overview
    </ion-card-header>

    <ion-list>
      <ion-item>
        Average price
        <ion-badge item-end>{{currency.assetPricePerUnit | priceConverter | currency:'USD':'symbol':'1.2-6'}}</ion-badge>
      </ion-item>

      <ion-item>
        Total
        <ion-badge item-end>{{currency.spendAssets | coinConverter | number:'1.0-9'}}</ion-badge>
      </ion-item>

    </ion-list>
  </ion-card>
  <ion-list no-border>
    <button ion-item *ngFor="let operation of operations; let i = index">
      <span item-start>
        <ion-icon *ngIf="operation.type == 'buy_asset'" item-start style="color: green;" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        <ion-icon *ngIf="operation.type == 'sell_asset'" item-start style="color: red;" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </span>
      <span>
        {{ operation.date | date}}
      </span>
      <span item-end style="width:100px;color:blue;text-align:left;">
        <span *ngIf="operation.type == 'buy_asset'">
          {{ operation.amount | coinConverter | number:'1.0-9' }}
        </span>
        <span *ngIf="operation.type == 'sell_asset'">
          {{ operation.amount * -1 | coinConverter | number:'1.0-9' }}
        </span>
      </span>
      <span item-end style="width:120px;text-align:right;text-align:left;">
        <span *ngIf="operation.type == 'buy_asset'">
          <p style="color:green;">
            <ion-icon style="width:15px;" ios="ios-pulse" md="md-pulse"></ion-icon>{{ operation.price | priceConverter | currency:'USD':'symbol':'1.2-6'}}</p>
          <p style="color:blueviolet;">
            <ion-icon style="width:15px;" ios="ios-card" md="md-card"></ion-icon>{{ operation.amount / coinNorm * operation.price | priceConverter | currency:'USD'}}</p>
        </span>
        <span *ngIf="operation.type == 'sell_asset'">
          <p style="color:green;">
            <ion-icon style="width:15px;" ios="ios-pulse" md="md-pulse"></ion-icon>{{ operation.price + operation.priceChange | priceConverter | currency:'USD':'symbol':'1.2-6'}}</p>
          <p style="color:blueviolet;">
            <ion-icon style="width:15px;" ios="ios-card" md="md-card"></ion-icon>{{ operation.amount / coinNorm * -1 * (operation.price + operation.priceChange) | priceConverter |
            currency:'USD'}}
          </p>
        </span>
      </span>
      <ion-icon style="color:red;" item-end ios="ios-trash" md="md-trash" (click)="removeOperation($event, operation)"></ion-icon>
    </button>
  </ion-list>
</ion-content>